.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Search container style */
.searchContainer {
  background-color: #333;
    margin-top : 0px;
    border-radius: 15px;
    padding: 10px 20px;
}


.MaptoggleButtons {
  margin: 3px auto auto 43%;
}


@media only screen and (max-width: 767px) {

  .ui.container {
    width: auto!important;
    margin-left: -8em!important;
    margin-right: -8em!important;
} 

.searchContainer {
  /* width: 990px; */
  margin-left: -8em!important;
  margin-right: 1em!important;
  height: 408px;
  background-color: #333;
  width: 599px;
  margin-left: -114px!important;
  margin-right: 1em!important;
}
.keytext {
  margin-right: 50px;
}
.housecards {
  width: 100px;
}
.MaptoggleButtons {
  margin: 7px 20px 10px 100px;
}

.divMenu {
  margin: 0px 0px -5px -126px;
  width: 388px;
}

.housecards {
  margin: 20px;
}

}






/* Search containewr */




.selected {
  border:'1px white red', 
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.searchStyle {
  /* background-image: url('../assets/test.jpg'); */
  /* background-image: image(); */
  /* background-color: aqua; */
}

input[type="range"] {
  -webkit-appearance: none;
  border-width: 3px;
  border-style: solid;
  border-radius: 5rem;
  border-color:rgb(25, 52, 172);
  padding: 3px 3px;
  background: white;

}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: rgb(25, 52, 172);
  color:rgb(25, 52, 172);
  border-radius: 5rem;
  border-width: 1px;
  border-style: solid;
  height: 0.7em;
  width: 0.7em;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
